<!DOCTYPE html>
<html>
<head>
    <title>PhoneGap Community Dashboard</title>
    <link rel=stylesheet href=/css/app.css>
</head>
<body>
    <h1>PhoneGap Community Dashboard</h1>
    <%- body %>
    <!-- all of the things load here -->
    <script src=http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js></script>
    <script src=https://www.google.com/jsapi></script>
    <script src=/js/app.js></script>
</body>
</html>
